<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/group.css">
    <title>Group Chat</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <input type="text" id="group-search" placeholder="Search groups">
            <!-- List of groups -->
            <ul id="group-list">
                <% groups.forEach((group)=> { %>
                    <li><a href="#" data-group="<%= group.id %>">
                            <%= group.name %>
                        </a></li>
                    <% }); %>
            </ul>
            <!-- Add a list for search results -->
            <ul id="search-results">
                <!-- Search results will be displayed here -->
            </ul>
        </div>
        <div class="chat">
            <div class="chat-header">
                <h2 id="group-name">Select a group</h2>
            </div>
            <div class="chat-messages" id="chat-messages">
                <!-- Messages will be displayed here -->
            </div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Type a message...">
                <button id="send-button">Send</button>
            </div>
        </div>

        <section id="group-membership">
            <h3>Group Membership</h3>
            <form action="/group/members/add/<%= group.id %>" method="post">
                <select name="user" id="user-select">
                    <% users.forEach((user)=> { %>
                        <option value="<%= user.id %>">
                            <%= user.username %>
                        </option>
                        <% }); %>
                </select>
                <select name="role" id="role-select">
                    <option value="admin">Admin</option>
                    <option value="member">Member</option>
                </select>
                <button type="submit">Add User to Group</button>
            </form>

            <h3>Group Members</h3>
            <ul id="group-members-list">
                <% groupMembers.forEach((member)=> { %>
                    <li>
                        <span>
                            <%= member.username %>
                        </span>
                        <span>(<%= member.role %>)</span>
                    </li>
                    <% }); %>
            </ul>
        </section>


    </div>
    <script src="/public/js/group.js"></script>
</body>

</html>